* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Main-Body {
    height: 850px;
    width: 50vw;
    margin-top: 10px;
    border: solid green 10px;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 20px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/76dc37b6-e8ac-4cef-affd-3e93b6e0c919/d4rzg0j-1c8a986b-bb80-4b6a-88de-caf33a14c7ea.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2ZGMzN2I2LWU4YWMtNGNlZi1hZmZkLTNlOTNiNmUwYzkxOVwvZDRyemcwai0xYzhhOTg2Yi1iYjgwLTRiNmEtODhkZS1jYWYzM2ExNGM3ZWEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.fyPTzaSpzHKrAaz-e0QMd1KygPYOsdjX0JsfpxfVhW0);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
    
}

.mbody {

    box-sizing: border-box;
    border: solid black 5px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 80px;
    margin: 5px;
    text-align: center;
    background-color: #f3f3f3;


}
#body1 {

    background-color: cornflowerblue;
    flex-grow: 0;
    background-image: url(https://art.pixilart.com/683c3db351d6d02.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#body2 {
    background-color: blue;
    flex-grow: 0;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/015/939/178/large/sean-teo-kaae-tileabletextures-wood.jpg?1550250095);
    background-size: cover;
    background-repeat: no-repeat;
}

#body3 {
    background-color: chartreuse;
    flex-grow: 0;
    background-image: url(https://img.freepik.com/premium-vector/lava-pixel-art-texture-magma-tile-seamless-pattern-8-bit-sprite_418367-283.jpg?w=360);
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    font-size: 2rem;
    padding-left: 200px;
    margin: 10px;
    color: white;
    font-weight:800;
}

#aligntext {
    font-size: 2rem;
    padding-left: 230px;
    margin: 10px;
}

#FlexGrowtext {
    padding-left: 230px;
    margin: 10px;
}



.flex1 {
    display: flex;
}

.flex2 {
    display: flex;
    margin-left: 100px;


}

#Resetbtn {
    margin-left: 110px;
    width: 400px;
}


.FlexGapsection {
    margin-left: 200px;
}

.btn {

    height: 60px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background: #016DD9;
    font-size: 20px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 10px;


}

.btn:hover {
    background-color: black;
}

.flexbox {
    margin-left: 10px;
}


body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    display: flex;
    margin: 10px;
    background-image: url(https://www.wallpaperuse.com/wallp/97-977966_m.jpg);
    background-size: cover;
    background-repeat: no-repeat;

   }

   .Fleboxbuttoncontainer{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid rgb(164, 155, 155) 10px;
    background-image: url(https://i.pinimg.com/564x/50/31/6e/50316e1159da241377891846ecb04604.jpg);
    border-radius: 20px;
    
   
   }

  

